* {
  box-sizing: border-box;
}

body {
  background-color: #C9E8E0;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
}
h1 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 0;
  // font-family: 'Press Start 2P', cursive;
}

p {
  font-size: 30px;
  color: white;
}

p.word {
  position: absolute;
  top: 0;
  left: 0;
}

p.special {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  background-image: url("https://i.imgur.com/6qkmc10.png");
}
// MODAL
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
    /* Modal Content */
    .modal-content {
      background-image:url("https://i.imgur.com/NERi1Sw.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000D73;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 80%;
      display: flex;

    }
    /* The play Button */
    .playBtn {
      font-weight: bold;
      margin: auto;
      margin-top: 0 auto;
      height: 20px;
      align-items: flex-end;
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      outline:none;
      margin-bottom: 75px;
      animation: flash 1.6s infinite;
    }
    .playBtn:hover,
    .playBtn:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
}



@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}




// Gameplay area

// timer
header {
  padding-top: 30px;
  margin: 0px, 0px, 100px, 0px;
}

.gameplayArea {
  height: 600px;
  position: relative;
}

main {
  margin: 0;
  background: linear-gradient(
                     rgba(20,20,20, .2),
                     rgba(20,20,20, .2)),
                     url("https://i.imgur.com/H5HB5V3.gif");
                     background-size: cover;
                     background-repeat:no-repeat;
                     background-position: center;

}

.wordScroll {
  animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
 from {
   margin-left: 0;
 }
 to {
   margin-left: 100%;}
}


// Footer with users input and score

.footer {
  height: 250px;
  margin: 0;
  padding: 0;
  height: 0;
}
.left-footer {
  margin: 0 auto;
  width: 35%;
  height: 180px;
  background-color: black;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  float: left;
}
.usersInput {
  margin: 0 auto;
  width: 35%;
  height: 180px;
  background-color: black;
  display: inline-block;
  border: 0;
  padding: 0;
  float: left;
}
.score-div {
  width: 30%;
  height: 180px;
  background-color: black;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
}
.score-text {
  padding: 0;
  border: 0;
  margin: 5px 20px;
  color: white;
  float: right;
  font-size: 15px;
  // font-family: 'Press Start 2P', cursive;
}

#text-box {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    float: left;
}

.submit {
  width: 30%;
  color: white;
  padding: 14px 20px;
  margin: 15px 10px;
  border: none;
  cursor: pointer;
  float: left;
  background-color: Transparent;
  background-repeat:no-repeat;
  outline:none;
}


// Next level / try again screens
.back-to-main {
  height: 20px;
  display: none;
  z-index: 1;
}
.score-board {
  display: none;
  color: white;
}
.final-score {
  display: none;
  color: white;
}

.next-level-screen {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}
.next-level-screen p {
  color: whiten;
  font-size: 20px;
  text-align: center;
}

.div-congrats {
  width: 500px;
  height: 300px;
  margin: 100px auto;
}

.div-commiserations {
  width: 500px;
  height: 300px;
  margin: 100px auto;
  display: none;
}
.div-commiserations img {
  width: 100px;
  height: auto;
}

.end-div {
  height: 300px;
  width: 300px;
  background-color: green;
  display: none;

}
