* {
  box-sizing: border-box;
}

body {
  background-color: #C9E8E0;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
  font-size: 50px;
}

// MODAL
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;

}
.game-title {
  color: white;
  font-size: 80px;
}
/* The play Button */
.playBtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 150px;
    position: relative;
}
.playBtn:hover,
.playBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

// Modal reset
.score-board {
  display: none;
  color: white;
}
.final-score {
  display: none;
  color: white;
}
.reset-button {
  display: none;

}


// MODAL END

// Gameplay area

.gameplayArea {
  height: 500px;
}


.wordScroll {
  animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
 from {
   margin-left: 0;
 }
 to {
   margin-left: 100%;}
}
// .round-1-type {
//   width: 600px;
//   height: 400px;
//   background-color: blue;
//   margin: 0 auto;
// }







// Footer with users input and score

.footer {
  height: 250px;
  margin: 0;
  padding: 0;
  height: 0;
}
.left-footer {
  margin: 0 auto;
  width: 35%;
  height: 180px;
  background-color: black;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  float: left;
}
.usersInput {
  margin: 0 auto;
  width: 35%;
  height: 180px;
  background-color: black;
  display: inline-block;
  border: 0;
  padding: 0;
  float: left;
}
.score-div {
  width: 30%;
  height: 180px;
  background-color: black;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
}
.score-text {
  padding: 0;
  border: 0;
  margin: 5px 20px;
  color: white;
  float: right;
  font-size: 35px;
}



#text-box {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    float: left;
}

input[type=submit] {
    width: 30%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #A43628;
}
