* {
  box-sizing: border-box;
}

body {
  background-color: black;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Bungee Inline', cursive;
}
#timerText {
  text-align: center;
  font-size: 38px;
  color: white;
  margin: 0;
}

p {
  font-size: 33px;
  color: white;
  font-weight: bold;
}

p.word {
  position: absolute;
  top: 50px;
  left: 0;
}

// MODAL
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
    /* Modal Content */
    .modal-content {
      background-image:url("https://i.imgur.com/NERi1Sw.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000D73;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 80%;
      display: flex;

    }
    /* The play Button */
    .playBtn {
      font-weight: bold;
      margin: auto;
      margin-top: 0 auto;
      height: 20px;
      align-items: flex-end;
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      outline:none;
      margin-bottom: 100px;
      animation: flash 1.6s infinite;
    }
    .playBtn:hover,
    .playBtn:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
}


@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


// Gameplay area

// timer
header {
  padding-top: 30px;
  margin: 0px, 0px, 100px, 0px;
}

.gameplayArea {
  height: 600px;
  padding-top: 100px;
  position: relative;
}

main {
  margin: 0;
  background: linear-gradient(
                     rgba(20,20,20, .2),
                     rgba(20,20,20, .2)),
                     url("https://i.imgur.com/H5HB5V3.gif");
                     background-size: cover;
                     background-repeat:no-repeat;
                     background-position: center;
}

.wordScroll {
  animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
 from {
   margin-left: 0;
 }
 to {
   margin-left: 100%;}
}


// Footer with users input and score

.footer {
  height: 250px;
  margin: 0;
  padding: 0;
  height: 0;
}
.left-footer {
  margin: 0 auto;
  width: 35%;
  height: 180px;
  background-color: black;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  float: left;
}
.usersInput {
  margin: 0 auto;
  width: 35%;
  height: 180px;
  background-color: black;
  display: inline-block;
  border: 0;
  padding: 0;
  float: left;
  #text-box {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    float: left;
  }
  .submit {
    display: none;
  }
}
.score-div {
  width: 30%;
  height: 180px;
  background-color: black;
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  float: left;
  .score-text {
    padding: 0;
    border: 0;
    margin: 15px 22px;
    color: white;
    float: right;
    font-size: 28px;
  }
}


// Next level / try again screens

.final-score {
  display: none;
  color: white;
}

.next-level-screen {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  .instructions {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    display: none;
    .instruction-button {
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin: 0 auto;
      display: block;
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      outline:none;
      animation: flash 1.6s infinite;
      font-family: 'Bungee Inline', cursive;
    }
    .instruction-button:hover,
    .instruction-button:focus {
      cursor: url("https://i.imgur.com/vdpcmid.png"), pointer;
    }
  }
  p {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .div-congrats {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    display: none;
    .win {
      margin: 0 auto;
      width: 400px;
      display: block;
    }
    .shoryuken {
      width: 250px;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }

  .div-commiserations {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    display: none;
  }
  .you-lose {
      margin: 0 auto;
      width: 400px;
      display: block;
  }

  .noogie {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .end-div {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    display: none;

    .back-to-main {
      display: none;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin: 0 auto;
      display: block;
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      outline:none;
      animation: flash 1.6s infinite;
      font-family: 'Bungee Inline', cursive;
    }
    .back-to-main:hover,
    .back-to-main:focus {
      cursor: url("https://i.imgur.com/vdpcmid.png"), pointer;
    }
  }
}
